<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>suggesh|HAL大阪|HTC|ハッカソン|teamUhouho</title>
    <meta name="description"
        content="「仕事帰りや学校帰りに何か美味しいものを食べたい。だけど何を食べたいかは決まっていなくて、決めるのもめんどくさい。わかるのは人数くらい。」そんな時に「suggesh」はあなたの気分に合わせて料理を提案します。">
    <link rel="stylesheet" href="./public/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
    <div id="wrapper">
    <p class="fish"><img src="./images/fish.png"></p>
      <div id="header">
        <h1>Suggesh</h1>
        <p class="icon"><img src="./images/icon2.jpg"></p>
        <h2>SUGGEST<br>DISH</h2>
        <p class="text"><span>あなた</span>に合わせた<br>料理をご提案</p>
      </div>
        <transition name="fade">
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false" data-interval="5000" v-if="!show">
            <div class="carousel-inner carousel-inner--expend">
              <div class="carousel-item active">
                <div class="box box1"></div>
              </div>
              <div class="carousel-item">
                <div class="box box2"></div>
              </div>
              <div class="carousel-item" >
                <div class="box box3"></div>
              </div>
              <div class="carousel-item" >
                <div class="box box4"></div>
              </div>
            </div>
          </div>
        </transition>

        <transition name="fade">
            <div id="inquiry" v-if="show">
                <div class="container" style="margin-left: 30rem;width: 60%;margin-top:8rem">
                    <el-steps :active="active" finish-status="success" style="margin: 2rem; margin-bottom: 4rem">
                        <el-step title="気分"></el-step>
                        <el-step title="天気"></el-step>
                        <el-step title="人数"></el-step>
                        <el-step title="服の色"></el-step>
                        <el-step title="朝食べたもの"></el-step>
                    </el-steps>
                    <el-form ref="form" :model="sizeForm" label-width="120px" size="mini" action="#" method="post">
                        <transition name="fade">
                            <div v-if="active === 0">
                                <el-form-item label="気分">
                                    <el-radio-group v-model="sizeForm.happy" size="medium" style="margin-left: 3rem">
                                        <el-radio border label="楽しい" style="height: 4rem">
                                            <img src="./images/happy.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio border label="悲しい" style="height: 4rem">
                                            <img src="./images/sad.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio border label="イライラ" style="height: 4rem">
                                            <img src="./images/angry.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio border label="疲れた" style="height: 4rem">
                                            <img src="./images/tired.png" alt="" class="img-fluid">
                                        </el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <div class="row justify-content-center">
                                    <el-button style="margin-top: 12px; width:10rem" @click="back" type="danger">戻す</el-button>
                                    <el-button style="margin-top: 12px;width:10rem" @click="next" type="success">次へ</el-button>
                                </div>
                            </div>
                        </transition>
                        <transition name="fade">
                            <div v-if="active === 1">
                                <el-form-item label="天気">
                                    <el-radio-group v-model="sizeForm.weather" size="medium" style="margin-left: 3rem">
                                        <el-radio border label="晴" style="height: 4rem">
                                            <img src="./images/sunny_color.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio border label="雲り" style="height: 4rem">
                                            <img src="./images/cloudy_color.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio border label="雨" style="height: 4rem">
                                            <img src="./images/rain_color.png" alt="" class="img-fluid">
                                        </el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <div class="row justify-content-center">
                                    <el-button style="margin-top: 12px; width:10rem" @click="back" type="danger">戻す</el-button>
                                    <el-button style="margin-top: 12px;width:10rem" @click="next" type="success">次へ</el-button>
                                </div>
                            </div>
                        </transition>
                        <transition name="fade">
                            <div v-if="active === 2">
                                <el-form-item label="人数">
                                    <el-radio-group v-model="sizeForm.people" size="medium" style="margin-left: 3rem">
                                        <el-radio class="gray" border label="1人"  style="height: 4rem">
                                            <img src="./images/1.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio class="gray" border label="2人〜3人"  style="height: 4rem">
                                            <img src="./images/2.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio class="gray" border label="4人〜6人"  style="height: 4rem">
                                            <img src="./images/4.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio class="gray" border label="それ以上"  style="height: 4rem">
                                            <img src="./images/7.png" alt="" class="img-fluid">
                                        </el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <div class="row justify-content-center">
                                    <el-button style="margin-top: 12px; width:10rem" @click="back" type="danger">戻す</el-button>
                                    <el-button style="margin-top: 12px;width:10rem" @click="next" type="success">次へ</el-button>
                                </div>
                            </div>
                        </transition>
                        <transition name="fade">
                            <div v-if="active === 3">
                                <el-form-item label="服の色">
                                    <el-radio-group v-model="sizeForm.clothes" size="medium" style="margin-left: 3rem">
                                        <el-radio border class="black" label="黒" style="height: 4rem">
                                            <img src="./images/normal2.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio border class="yellow" label="黄" style="height: 4rem">
                                            <img src="./images/normal.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio border class="red" label="赤" style="height: 4rem">
                                            <img src="./images/normal.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio border class="blue" label="青" style="height: 4rem">
                                            <img src="./images/normal.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio border class="white" label="白" style="height: 4rem">
                                            <img src="./images/normal.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio border class="pink" label="その他" style="height: 4rem">
                                            <img src="./images/normal.png" alt="" class="img-fluid">
                                        </el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <div class="row justify-content-center">
                                    <el-button style="margin-top: 12px; width:10rem" @click="back" type="danger">戻す</el-button>
                                    <el-button style="margin-top: 12px; width:10rem" @click="next" type="success">次へ</el-button>
                                </div>
                            </div>
                        </transition>
                        <transition name="fade">
                            <div v-if="active === 4">
                                <el-form-item label="朝食べたもの">
                                    <el-radio-group v-model="sizeForm.breakfast" size="medium" style="margin-left: 3rem">
                                        <el-radio border label="パン" style="height: 4rem">
                                            <img src="./images/bread.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio border label="ご飯" style="height: 4rem">
                                            <img src="./images/rice.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio border label="麺" style="height: 4rem">
                                            <img src="./images/noodles.png" alt="" class="img-fluid">
                                        </el-radio>
                                        <el-radio border label="フルーツ" style="height: 4rem">
                                            <img src="./images/fruits.png" alt="" class="img-fluid">
                                        </el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </div>
                        </transition>
                    </el-form>
                    <transition name="fade">
                        <div v-if="active === 4">
                            <form action="./public/match_pattern.php" method="post">
                                <input type="hidden" v-model="sizeForm.happy" name="happy">
                                <input type="hidden" v-model="sizeForm.people" name="people">
                                <input type="submit" class="btn btn-primary" value="送信">
                            </form>
                        </div>
                    </transition>
                </div>
            </div>
        </transition>

      <div class="link" v-if="!show">
        <p><a href="#" @click="btnClick">はじめる</a></p>
      </div>
      <div id="footer"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script type="application/javascript" src="./public/js/inquiry.js"></script>
</body>

</html>
