<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>結果ページ</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../public/css/list.css">
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAamPmlTRrXG3_CDu1s0yhk3_ieccZF0Yc&callbck=initMap"></script>
    <style>
        #map{
            width: 70%;
            height: 500px;
            margin: 0 auto;
            margin-top: 2rem;
        }
    </style>
</head>
<body>
    <div id="list" class="container">
        <input type="hidden" name="keyword" id="keyword" value="<?php echo $keyword ?>">
        <div id="map"></div>
        <div class="list-group">
            <div class="list-box" v-for="item in restList" :key="item.id">
                <el-card :body-style="{ padding: '0px' }" >
                    <img :src="item.image_url.shop_image1" class="image" style="padding: 14px;">
                    <img :src="item.image_url.shop_image2" class="image" style="padding: 14px;">
                    <div class="description" style="padding: 14px;">
                        <h1>{{item.name}}</h1>       
                        <div class="bottom clearfix">
                        <table>
                            <tr><th>営業時間</th></tr><p>
                            <tr><td>{{ item.opentime }}</td></tr>
                            <tr><th>休業日</th></tr>
                            <tr><td>{{ item.holiday }}</td></tr>
                            <tr><th>平均予算</th></tr>
                            <tr><td>{{ item.budget }}円</td></tr>
                            <tr><th>サイトURL</th></tr>
                            <tr><td><a href="#">{{ item.url }}</a></td></tr>
                            <tr><th>電話番号</th></tr>
                            <tr><td>{{ item.tel }}</td></tr>
                        </table>
                        </div>
                    </div>
                </el-card>
            </div>
        </div>
    </div>
    <div id="topback"><a href="#map"><img src="../images/topback.png" width="180" height="180"></a></div>
    <!-- <el-button type="text" class="button"><div class="link">{{ item.url }}</div></el-button> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="module" src="./../public/js/list.js"></script>

</body>
</html>
